body{
	background-color: #000000;
}

.chart-container {
	width:  80%;
	height: 450px;
	margin: 0 auto;
	margin-top: 1em;
}

canvas#line-chartcanvas {
    background-color: rgba(47, 19, 19, 0.270588);
}

header{
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    border-bottom: 1px solid white;
    
}

footer{
	border-top: 1px solid white;
	text-align: center;
	font-style: italic;
	background-color: black;
	color: white;
	position:fixed;
	bottom:0px;
   	height:40px;
   	width:100%;
}



